In [14]:
import pandas as pd
data = pd.read_excel(r"C:\Users\ryana\Documents\Data Mining Class\ACS Data Color Coding.xlsx",sheet_name="acs2015_census_tract_data",header=1)

In [15]:
data

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73996,72153750501,Puerto Rico,Yauco,6205,3291,2914,99.7,0.3,0.0,0.0,...,0.9,3.3,2.3,22.5,1659,64.7,31.3,3.9,0.0,21.3
73997,72153750502,Puerto Rico,Yauco,2122,921,1201,99.2,0.3,0.0,0.0,...,0.0,0.0,0.0,23.5,484,64.0,32.6,3.3,0.0,22.4
73998,72153750503,Puerto Rico,Yauco,2277,1097,1180,99.5,0.4,0.0,0.0,...,3.2,0.0,3.0,29.8,582,58.2,32.3,9.5,0.0,23.3
73999,72153750601,Puerto Rico,Yauco,5267,2663,2604,98.8,1.2,0.0,0.0,...,0.0,0.0,0.0,26.9,1369,67.5,31.2,1.3,0.0,26.7
74000,72153750602,Puerto Rico,Yauco,2741,1181,1560,99.3,0.7,0.0,0.0,...,0.0,0.0,14.9,26.8,496,72.8,19.6,7.7,0.0,20.1

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74001 entries, 0 to 74000
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusTract      74001 non-null  int64
 1   State            74001 non-null  object
 2   County           74001 non-null  object
 3   TotalPop         74001 non-null  int64
 4   Men              74001 non-null  int64
 5   Women            74001 non-null  int64
 6   Hispanic         73311 non-null  float64
 7   White            73311 non-null  float64
 8   Black            73311 non-null  float64
 9   Native           73311 non-null  float64
 10  Asian            73311 non-null  float64
 11  Pacific          73311 non-null  float64
 12  Citizen          74001 non-null  int64
 13  Income           72901 non-null  float64
 14  IncomeErr        72901 non-null  float64
 15  IncomePerCap     73261 non-null  float64
 16  IncomePerCapErr  73261 non-null  float64
 17  Poverty          73166 non-null  float64
 18  ChildPoverty     72883 non-null  float64
 19  Professional     73194 non-null  float64
 20  Service          73194 non-null  float64
 21  Office           73194 non-null  float64
 22  Construction     73194 non-null  float64
 23  Production       73194 non-null  float64
 24  Drive            73204 non-null  float64
 25  Carpool          73204 non-null  float64
 26  Transit          73204 non-null  float64
 27  Walk             73204 non-null  float64
 28  OtherTransp      73204 non-null  float64
 29  WorkAtHome       73204 non-null  float64
 30  MeanCommute      73052 non-null  float64
 31  Employed         74001 non-null  int64
 32  PrivateWork      73194 non-null  float64
 33  PublicWork       73194 non-null  float64
 34  SelfEmployed     73194 non-null  float64
 35  FamilyWork       73194 non-null  float64
 36  Unemployment     73199 non-null  float64
dtypes: float64(29), int64(6), object(2)
memory usage: 20.9+ MB